@{
	ViewData["Title"] = "Loading_SingerStorePage";
	Layout = "Loading_Layout";
}

<div id="load">
	<div>G</div>
	<div>N</div>
	<div>I</div>
	<div>D</div>
	<div>A</div>
	<div>O</div>
	<div>L</div>
</div>


<script>

	function countDown() {
		window.location.href = `/User/SingerStorePage`;
	}

	window.setInterval("countDown()", 3000);

</script>


