@using Alice_MVC.Controllers;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alice Music</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
	<!-- IonIcons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
		  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-dark">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
					<a href="~/User/UserPage" class="nav-link">Home</a>
				</li>
			</ul>

		</nav>
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="~/Home/Alice_Home" class="brand-link">
				<img src="~/Image/logo.png" alt="Logo" class="brand-image img-circle elevation-3">
				<span class="brand-text font-weight-light" style="font-family:'Times New Roman', Times, serif;color:red;">Alice <span style="color:white;">Music</span></span>
			</a>

			<!-- Sidebar -->
			<div class="sidebar">

				@{
					if (UserController.user.Count() == 0)
					{
						ViewBag.Login = "false";
					}
					else
					{
						var user = UserController.user.FirstOrDefault();
						ViewBag.UserName = user.UserName;
						ViewBag.Head = user.Head;
					}
				}

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
							 with font-awesome or any other icon font library -->
						<li class="nav-header">Home</li>
						<li class="nav-item HomePage">
							<a href="~/Home/Alice_Home" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Home Page</p>
							</a>
						</li>



						@if (ViewBag.Login == "false")
						{

							<li class="nav-header">Login</li>
							<li class="nav-item">
								<a href="~/Login/LoginPage" class="nav-link">
									<i class="nav-icon fa-solid fa-right-to-bracket"></i>
									<p>Login In</p>
								</a>
							</li>
							<li class="nav-item signup">
								<a href="~/Login/SignUpPage" class="nav-link">
									<i class="nav-icon fa-solid fa-right-from-bracket"></i>
									<p>Sign Up</p>
								</a>
							</li>
						}
						else
						{
							<li class="nav-header">Music Area</li>
							<li class="nav-item MusicHome">
								<a href="~/Home/Home" class="nav-link">
									<i class="nav-icon fa-solid fa-house-chimney"></i>
									<p>
										Music Home
									</p>
								</a>
							</li>
							<li class="nav-item Singeritem">
								<a href="~/Music/SingerPage" class="nav-link">
									<i class="nav-icon fa-solid fa-microphone"></i>
									<p>
										Singer
									</p>
								</a>
							</li>
							<li class="nav-item Musicpage">
								<a href="~/Music/Music" class="nav-link">
									<i class="nav-icon fa-solid fa-music"></i>
									<p>
										Music
									</p>
								</a>
							</li>
							<li class="nav-item CartPage">
								<a href="~/User/CartPage" class="nav-link">
									<i class="nav-icon fa-sharp fa-solid fa-cart-shopping"></i>
									<p>
										Cart
									</p>
								</a>
							</li>

							<li class="nav-header">Login</li>
							<li class="nav-item">
								<a href="~/Login/SignOut" class="nav-link">
									<i class="nav-icon fa-solid fa-right-to-bracket"></i>
									<p>Sign Out</p>
								</a>
							</li>
						}


					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->

			<div>
				@RenderBody()
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>

	</div>

	<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE -->
	<script src="~/AdminLTE/dist/js/adminlte.js"></script>

	<script src="~/AdminLTE/dist/js/pages/dashboard3.js"></script>
</body>
</html>
